<div class="container mt-5">
    <div class="dropdown">
        <label for="cardCount">Select Card Layout:</label>
        <select id="cardCount" (change)="updateGridColumns($event)">
            <option value="3">3 Cards</option>
            <option value="4">4 Cards</option>
        </select>
    </div>
    <div class="generation-tabs">
        <button *ngFor="let generation of generations" 
                (click)="switchGeneration(generation)" 
                [class.active]="generation === selectedGeneration">
            {{ generation }}
        </button>
    </div>
    <div class="pokedex-grid" [ngClass]="gridClass">
        <div class="pokedex-card" *ngFor="let pokemon of pokemons; let i = index">
            <div class="card-left">
                <img [src]="'assets/pokemonImages/' + pokemon.index + '.png'" alt="{{pokemon.name}}" />
                <h4>{{formatIndex(pokemon.index)}}</h4>
            </div>
            <div class="card-right">
                <h3>{{pokemon.name}}</h3>
                <p><b>Types:</b> <br>
                    <span *ngFor="let type of pokemon.type" [ngClass]="type.toLowerCase()" class="type-badge">{{type | uppercase}} </span>
                </p>
                <p><b>Evolution:</b>  <br>{{pokemon.evolution}}</p>
            </div>
            <div class="card-footer">
                <p>{{pokemon.description}}</p>
            </div>
        </div>
    </div>
    <button class="scroll-to-top" *ngIf="showScrollToTop" (click)="scrollToTop()">&#8593;</button>
    <hr>
    <div class="footer">
        <div class="footer-content text-center">
            <p>&copy; 2023 Pokémon Company. All rights reserved.</p>
            <p>Pokémon and Pokémon character names are trademarks of Nintendo.</p>
        </div>
    </div>
</div>