<div class="about-container">
  <div class="header-image">
    <img src="https://assets.pokemon.com/assets/cms2/img/video-games/video-games/pokemon_go/169.jpg" alt="Pokémon GO" class="hero-image">
  </div>
  <h2>About Pokémon GO</h2>
  <p>Pokémon GO is an augmented reality mobile game developed by Niantic in collaboration with Nintendo and The Pokémon Company.</p>
  <p>Join millions of trainers worldwide in this exciting adventure where you can catch, train, and battle Pokémon in the real world!</p>
</div>