<div class="container">

  <div class="row">
    <div class="col col-2">
      <div class="text-center">
        <img width="200px" height="200px" src="./assets/images/Team Mystic/Mystic_3.jpg" alt="Team Instinct">
      </div>
    </div>
    <div class="col col-8">
      <h1 class="text-center display-3 "><b> <span style="-webkit-text-fill-color:darkgray">Team Mystic </span> </b></h1>
    </div>
  </div>
  
  <br><br><br>
  
  
  <div class="header">
    <div class="row">
      <div class="col col-4">
        <h1>Hi</h1>
      </div>
      <div class="col col-4">
        <h1>Hello</h1>
      </div>
    </div>
  </div>


</div>