.header{
    background-color: rgb(236, 237, 238);
}

.container{
    background-image: url('/assets/images/Background/MysticBgLogo-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    align-content: center; 
}