<div class="events-container">
  <h2>Upcoming Events</h2>
  <div class="event-list">
    <div class="event-card">
      <img src="assets\images\Community Day.jpg" style="width: 100%; height: 80%;" alt="Raid Hour" class="event-image">
      <h3>Community Day</h3>
      <p>Join trainers worldwide for special Pokémon encounters and bonuses!</p>
    </div>
    <div class="event-card">
      <img src="assets\images\Raid Hour.jpg" style="width: 100%; height: 80%;" alt="Raid Hour" class="event-image">
      <h3>Raid Hour</h3>
      <p>Team up with other trainers to challenge powerful raid bosses!</p>
    </div>
  </div>
</div>