<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="">
            <h1>PokemonGo</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink='/about'><b> About </b><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/events'><b> Events </b></a>
                </li>

                <li class="nav-item dropdown">
                    <div ngbDropdown class="d-inline-block">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle><b>Teams</b></a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button class="dropdown-item" routerLink='/teamInstinct'>Team Instinct </button>
                            <button class="dropdown-item" routerLink='/teamMistic'> Team Mystic</button>
                            <button class="dropdown-item" routerLink='/teamValor'>Team Valor</button>
                            <button class="dropdown-item" routerLink='/teamRocket'>Team Rocket</button>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink='/niantic'><b> Niantic </b></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</body>
<router-outlet></router-outlet>