<div class="team-container instinct">
  <div class="team-content">
    <img src="https://archives.bulbagarden.net/media/upload/4/42/GO_Team_Instinct.png" alt="Team Instinct Logo" class="team-logo">
    <h2>Team Instinct</h2>
    <h3>Led by Spark</h3>
    <p>Team Instinct trainers trust their instincts in battle and believe that Pokémon have excellent intuition.</p>
    <div class="team-features">
      <h4>Team Values</h4>
      <ul>
        <li>Trust in instincts</li>
        <li>Natural ability</li>
        <li>Pokémon intuition</li>
      </ul>
    </div>
  </div>
</div>