<div class="container">
  <div class="row header">
    <div class="col col-2">
      <div class="text-center">
        <img width="200px" height="200px" src="./assets/images/Team Valor/team_logo_3.jpg" alt="Team Instinct">
      </div>
    </div>
    <div class="col col-8 instinct">
      <h1 class="text-center display-3 px-9"><b> Team Valor </b></h1>
    </div>
  </div>
  <br><br><hr>
  <div class="row header1">
    <div class="col col-8">

    </div>
    <div class="col col-4 text-center">
      <img width="400px" height="400px" src="./assets/images/Team Valor/Valor-4.jpg" alt="">
    </div>
  </div>
</div>