.header{
    background-color: lightcoral;
}

.header{
    background-image: url('/Pokiwiki/src/assets/images/Background/ValorBgLogo-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    align-content: center; 
}