<div class="body1">

  <div class="text-center">
    <img src="assets\images\Logos\PokemonGo_Logo.jpg" alt="">
  </div>

  <div class="row">
    <div class="col col-1"></div>
    <div class="col col-5">
      <br><br><br><br><br><br><br><br>
      <h1 class="display-3" style="-webkit-text-fill-color: white">GET UP <br>
        AND GO
      </h1>
      <h5 style="-webkit-text-fill-color:white">
        Catch Pokémon in the Real World with Pokémon GO!
      </h5>
    </div>
    <div class="col col-1">

    </div>
    <div class="col col-3">
      <div>
        <!-- <ngb-carousel class="vertical-align-center">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img width="100%" height="500px"
                src='https://www.pokemongo.com/assets/images/hero/screenshots/en/groupshot.jpg'
                alt="Random first slide">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img width="100%" height="500px"
                src='https://www.pokemongo.com/assets/images/hero/screenshots/en/mapviewegg.jpg'
                alt="Random second slide">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img width="100%" height="500px"
                src="https://www.pokemongo.com/assets/images/hero/screenshots/en/researchwillow.jpg"
                alt="Random third slide">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img width="100%" height="500px"
                src="https://www.pokemongo.com/assets/images/hero/screenshots/en/counter.jpg" alt="Random third slide">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img width="100%" height="500px"
                src="https://www.pokemongo.com/assets/images/hero/screenshots/en/raidlobby.jpg"
                alt="Random third slide">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img width="100%" height="500px"
                src="https://www.pokemongo.com/assets/images/hero/screenshots/en/berries.jpg" alt="Random third slide">
            </div>
          </ng-template>
        </ngb-carousel> -->
      </div>
      <br><br><br>
    </div>
  </div>
</div>


<!-- <div class="body2">
  <div class="row">
    <div class="col col-6">
      <br><br><br>
      <img src="https://www.pokemongo.com/assets/images/lets-go-switch/pokemon-lets-go-box-art.webp" alt="Pikachu">
    </div>

    <div class="col col-5">
      <br><br><br>
      <h1 class="display-5" style="-webkit-text-fill-color: white">
        CONNECT WITH THE NEXT BIG POKÉMON GAME ON NINTENDO SWITCH!
      </h1>
      <p style="-webkit-text-fill-color: white">
        --------------------------------------------------------------------------------------------------
      </p>
      <p style="-webkit-text-fill-color: white">Pokémon: Let's Go, Pikachu! and Pokémon: Let's Go, Eevee! bring the
        experience of a classic Pokémon RPG to Nintendo Switch with gameplay that is easily approachable for newcomers
        to the series, but is also deep enough to keep veteran Trainers on their toes. And there’s a deep connection
        between Pokémon: Let's Go, Pikachu! and Pokémon: Let's Go, Eevee! and Pokémon GO, so fans of the hit mobile game
        will find even more to enjoy.</p>
    </div>
  </div>
</div> -->